sudo: false
language: php

php:
  - hhvm
  - 7.1
  - 7.0
  - 5.6
  - 5.5
  - 5.4

before_script:
  - git clone --depth=50 --branch=master git://github.com/aimeos/aimeos-core.git ../aimeos-core
  - cd ../aimeos-core && mv ../ai-client-jsonapi ext/
  - composer self-update && composer require "aimeos/ai-controller-frontend:dev-master"
  - mysql -e 'create database aimeos;'
  - echo "<?php return array( 'db' => array( 'adapter' => 'mysql', 'host' => '127.0.0.1', 'database' => 'aimeos', 'username' => 'root', 'password' => '', 'limit' => 2, 'opt-persistent' => false, 'stmt' => array( \"SET NAMES 'utf8'\", \"SET SESSION sql_mode='ANSI'\" ) ) );" > config/resource.php

script:
  - vendor/bin/phing -Ddir=ext/ai-client-jsonapi setup coverageext checkext

after_success:
  - php vendor/bin/coveralls -c ext/ai-client-jsonapi/.coveralls.yml